## The following requirements were added by pip freeze:
Jinja2==2.10
MarkupSafe==1.0
Pygments==2.2.0
Send2Trash==1.4.2
appnope==0.1.0
bleach==2.1.2
boto3==1.5.25
boto==2.48.0
botocore==1.8.39
bz2file==0.98
certifi==2018.1.18
chardet==3.0.4
click==6.7
cycler==0.10.0
decorator==4.2.1
docutils==0.14
entrypoints==0.2.3
future==0.16.0
html5lib==1.0.1
idna==2.6
inflection==0.3.1
ipykernel==4.8.1
ipython-genutils==0.2.0
ipython==6.2.1
ipywidgets==7.1.1
jedi==0.11.1
jmespath==0.9.3
jsonschema==2.6.0
jupyter-client==5.2.2
jupyter-console==5.2.0
jupyter-core==4.4.0
jupyter==1.0.0
keras
lore==0.4.88
matplotlib==2.1.2
mistune==0.8.3
nbconvert==5.3.1
nbformat==4.4.0
notebook==5.4.0
numpy==1.14.0
pandas==0.22.0
pandocfilters==1.4.2
parso==0.1.1
pexpect==4.3.1
pickleshare==0.7.4
prompt-toolkit==1.0.15
ptyprocess==0.5.2
pyparsing==2.2.0
python-dateutil==2.6.1
python-dotenv==0.7.1
pytz==2018.3
pyzmq==16.0.4
qtconsole==4.3.1
requests==2.18.4
s3transfer==0.1.12
simplegeneric==0.8.1
six==1.11.0
smart-open==1.5.6
tabulate==0.8.2
terminado==0.8.1
testpath==0.3.1
tornado==4.5.3
traitlets==4.3.2
urllib3==1.22
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.1.3
